@use "../abstracts" as *;

/*------------------------------------*\
  #ACCORDION
\*------------------------------------*/
.accordion__item {
  border-bottom: rem(1) solid $accordion-dividers;
  padding: rem(3);
}

.accordion__item:not(:first-child) {
  margin-top: rem(16);
}

.accordion__trigger {
  display: flex;
  justify-content: space-between;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: rem(7) 0;
  width: 100%;
  font-size: rem(13);

  @include on-event {
    color: $accordion-button-trigger-active-color;
  }
}

.accordion__icon {
  @media screen and (prefers-reduced-motion: no-preference) {
    transition: transform 200ms ease-in-out;
  }
}

.accordion__trigger[aria-expanded="true"] {
  font-weight: 700;
}

.accordion__trigger[aria-expanded="true"] .accordion__icon {
  transform: rotate(180deg);
}

.accordion__description {
  margin: rem(3) 0;
  color: $accordion-description-color;
}
