@use "../abstracts" as *;

/*------------------------------------*\
  #ACCORDION
\*------------------------------------*/
/**
 * 1. I don't use "flex-basis" for the 
 *    width since the parent element has 
 *    "flex-direction: column-reverse;" 
 *    which means that "flex-basis" 
 *    controls the "height" of the 
 *    elements 
 *
 * 2. Since flexbox behavior wants to
 *    fit the children elements at the
 *    smallest width, I set the width to
 *    100% to make sure when the
 *    "paragraph" element disappear, the
 *    accordion still have full width
 *    otherwise, the arrow icon and the
 *    question text will get too near.
 *
 * */
.accordion {
  width: 100%; /* 1 */ /* 2 */
}

.accordion__item {
  border-bottom: rem(1) solid $accordion-dividers;
  padding: rem(3);
}

.accordion__item:not(:first-child) {
  margin-top: rem(16);
}

.accordion__trigger {
  display: flex;
  justify-content: space-between;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: rem(7) 0;
  width: 100%;
  font-size: rem(13);@include on-event {
    color: $accordion-button-trigger-active-color;
  }@include focus-visible;
}

.accordion__icon {
  @media screen and (prefers-reduced-motion: no-preference) {
    transition: transform 250ms ease-in-out;
  }
}

.accordion__trigger[aria-expanded="true"] {
  font-weight: 700;
}

.accordion__trigger[aria-expanded="true"] .accordion__icon {
  transform: rotate(180deg);
}

.accordion__description {
  margin: rem(3) 0;
  color: $accordion-description-color;
}
