@use "../abstracts" as *;

/*------------------------------------*\
  #CARD
\*------------------------------------*/
.card {
  position: relative;
  border-radius: 2em;
  box-shadow: 0 rem(30) rem(40) rgba($card-box-shadow-color, 0.4);
  background: rgb(255, 255, 255) no-repeat;
  background-image: url("../images/bg-pattern-mobile.svg");
  background-position: top center;
  padding: rem(110) rem(20) rem(50);
  width: 100%;
  max-width: rem(330);
}

.card__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.card__title {
  text-align: center;
  font-size: rem(30);
}

.card__illustration {
  position: absolute;
  top: -#{rem(100)};
}
