// Default style that I currently use on this project
$default-html-font-size: 100% !default;
$black: rgb(17, 17, 17) !default;
$white: rgb(242, 242, 242) !default;
$selection-bg: rgb(0, 201, 250) !default;
$selection-color: $white !default;
$focus-visible-color: rgb(255, 14, 166) !default;

// Primary Colors
// FOR: Text
$very-dark-desaturated-blue: rgb(29, 30, 53);
$soft-red: rgb(244, 124, 87);

// FOR: Background Gradient
$soft-violet: rgb(175, 103, 233);
$soft-blue: rgb(101, 101, 231);

// Neutral Color
// FOR: Text
$very-dark-grayish-blue: rgb(74, 75, 94);
$dark-grayish-blue: rgb(120, 120, 135);

// FOR: Dividers (Line)
$light-grayish-blue: rgb(231, 231, 233);

// Use Cases
$body-first-background-gradient-color: $soft-violet;
$body-second-background-gradient-color: $soft-blue;
$card-box-shadow-color: $very-dark-desaturated-blue;
$accordion-dividers: $light-grayish-blue;
$accordion-button-trigger-active-color: $soft-red;
$accordion-description-color: $dark-grayish-blue;

// Breakpoints
// Note: If you user font-size setting is 16px, then this 'em' is equal to this in 'px'
$breakpoints-up: (
  "tiny": 46.875em, // => 750px
  "very-small": 64em, // => 1024px
  "small": 80em // => 1280px
);
$breakpoints-down: (
  "tiny": 46.8125em, // => 749px
  "very-small": 63.9375em, // => 1023px
  "small": 79.9375em // => 1279px
);
